<!-- Login Component -->
<div class="background-image">
  <header class="header">
    <div class="logo">
      <span class="logo-text">Wellness Management</span>
    </div>
    <nav class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </nav>
  </header>
  <div class="container">
    <mat-card class="form-container">
      <h2>Login</h2>
      <form (ngSubmit)="login()" @fadeIn>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Username</mat-label>
          <input matInput type="text" id="username" name="username" [(ngModel)]="credentials.username" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
        </mat-form-field>
        <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button mat-flat-button color="primary" type="submit" class="login-button">Login</button>
      </form>
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </mat-card>
  </div>
</div>
